/* 
    Document   : main.css
    Created on : Apr 30, 2013, 12:27:26 PM
    Author     : tarrsalah.org
    Description:
        Purpose of the stylesheet follows.
*/

.root {
	-fx-background-color: khaki
}
#red_btn { 
	-fx-base: red;
	-fx-background-image: url("Add.png");
	-fx-background-size: 18 18;
	-fx-background-repeat: no-repeat;
	-fx-background-position:left;	
}